*{
	margin: 0;
	padding: 0;
}
.contenedor{
	display: flex;
	flex-direction: column;
	height: 100vh;
}
.encabezado{
	background: lightsalmon;
	color: white;
	font-family: arial;
	text-align: center;
	padding: 25px;
	font-size: 20px;
}
.contenido{
	display: flex;
	flex-direction: space-between;
	flex: 1;/*para ocupar todo el espacio restante*/
}
.texto{
	padding: 15px;
	margin: 15px;
	border: 1px solid;
	flex: 1;
	border-radius: 15px ;
	box-shadow: 10px 10px rgba(0, 0, 0 , 1.0);
}
footer{
	text-align: center;
	color: white;
	background: lightsalmon;
	padding: 15px;
}
@media(max-width:500px){
	.contenido{
		flex-direction: column;
	}

}